<% if(!user){ %>
   <a href="/auth/github">Login with Github</a>
 <% } else{ %>
   <h1>Welcome, <%= user.name %></h1>
   <br>
   <p><a href="/github">Get Github commits for https://github.com/RefactorU/hackathon-live-feed</a></p>
<% } %>