<!DOCTYPE html>
<html>
  <head>
    <title>RefactorU Hackathon - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    <link href="{{ baseurl }}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ baseurl }}/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{ baseurl }}/bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css">
    <link href="{{ baseurl }}/css/main.css" rel="stylesheet" type="text/css">
    {% block css %}{% endblock %}
  </head>
  <body>



    <!-- Page Content -->
    <div class="container">
     {% include "./partials/flash.html" %}
      <div class="starter-template">
        {% include './partials/header.html' %}
        {% block content %}
        {% endblock %}
      </div>
    </div><!-- /.container -->

    <br><br>

    {% include './partials/footer.html' %}

    <!-- scripts -->
    <script src="{{ baseurl }}/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="{{ baseurl }}/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ baseurl }}/bower_components/angular/angular.min.js"></script>
    <script src="{{ baseurl }}/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="{{ baseurl }}/bower_components/socket.io-client/socket.io.js" type="text/javascript"></script>
    <script src="{{ baseurl }}/bower_components/sortable/js/sortable.min.js" type="text/javascript"></script>
    <script src="{{ baseurl }}/bower_components/react/react.js" type="text/javascript"></script>
    <script src="{{ baseurl }}/bower_components/react/JSXTransformer.js" type="text/javascript"></script>
    <script src="{{ baseurl }}/bower_components/lodash/lodash.min.js"></script>
    <script src="{{ baseurl }}/bower_components/moment/min/moment.min.js"></script>
    <script src="{{ baseurl }}/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="{{ baseurl }}/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="{{ baseurl }}/bower_components/angular-cookie/angular-cookie.min.js"></script>
    <script src="{{ baseurl }}/js/main.js" type="text/javascript"></script>
    <script src="{{ baseurl }}/js/angular.js" type="text/javascript"></script>
    {% block js %}{% endblock %}
  </body>
</html>