{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

<br>

<div class="text-left">

  <h1>Commits</h1>

  <br><br>

  {% for commit in response %}

    <div class="row">
      <div class="col-md-2">
        <p><img src="{{ commit.avatar }}" style="max-height: 150px;"></p>
      </div>
      <div class="col-md-10">
        <p>
          {{ commit.name }}<br>
          {{ commit.date }}<br>
          <a href="{{ commit.url }}">{{ commit.sha }}</a><br>
          {{ commit.message }}
        </p>
      </div>
    </div>
    <br>

  {% endfor %}

</div>

{% endblock %}