{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

<br>

{% if !user %}

  <h1>Welcome!</h1>
  <p><a href="/auth/github">Login with Github</a></p>

{% else %}

<div class="text-left">

  <h1>Welcome, {{ user.name }}</h1>
  <p>Are you an admin? <strong>{{ user.admin }}</strong></p>
  <br>

  <h2>Git Commits</h2>
  <ul>
    <li><a href="git/github">Raw JSON</a></li>
    <li><a href="git/commits">Pretty HTML</a></li>
  </ul>

  <h2>Other Pages</h2>
  <ul>
    <li><a href="/account">User Account</a></li>
    <li><a href="/admin">Admin Portal</a></li>
  </ul>

</div>

{% endif %}

{% endblock %}