{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

<br>

{% if !user %}

  <h1>Welcome!</h1>
  <p class="lead"><a href="/auth/github">Login with Github</a></p>

{% else %}

<div class="text-left">

  <h1>Welcome, {{ user.name }}</h1>
  <p>Are you an admin? <strong>{{ user.admin }}</strong></p>
  <br>

  <h2>Git Commits</h2>
  <ul>
    <li><a href="/github">Raw JSON</a></li>
    <li><a href="/commits">Pretty HTML (latest commit)</a></li>
  </ul>

</div>

{% endif %}

{% endblock %}