/* custom styles */

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.github-avatars {
  border-radius: 50px;
  max-height: 100px;
}

.signUpContainer {
  background: transparent;
  padding-bottom: 0;
}

.page-header {
  position: fixed;
}

.refactoru-logo {
  max-width: 200px;
}