/* custom styles */

body {
  background: #1b1b1b;
  color: #fff;
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.github-avatars {
  border-radius: 50px;
  max-height: 100px;
}

.signUpContainer {
  background: transparent;
}